*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    background: #f5eded;
}

.container{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    background: #fff;
    height: 100%;
    /* padding: 10px 20px; */
}

.header--contact{
    display: flex;
    justify-content: flex-start;
}

.header--contact h3{
    margin-right: auto;
    color: #eb2227;
}

.img--logo{
    height: 45px;
    width: 180px;
}


.nav--top{
    background: #f3b406;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    padding-right: 10px;
    height: 40px;
    /* margin: 15px 0; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
    margin-top: 15px;
}

.nav--list{
    display: flex;    
    font-size: 20px;
    margin-left: 0px;
}

.nav--list li{
    list-style: none;
    margin-left: 15px;

}

.nav--list--link{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 2px 9px;
    
}

.nav--list--link:hover{
    color: #eb2227;
    background: #fff;
    border-radius: 8px;
    cursor: pointer;
}

.nav--list--link:active{
    color: #f3b406;
    background: #eb2227;
    border-radius: 8px;
    cursor: pointer;
}

.nav--btn--signup{
    height: 37px;
    width: 90px;
    background: #eb2227;
    border: none;
    border-radius: 5px;
    border: solid 1px;
    color: #fff;
}

.nav--btn--signup:hover{
    background: #fff;
    color: #eb2227;
    cursor: pointer;
}

.nav--btn--login{
    height: 37px;
    width: 90px;
    margin-left: 10px;
    background: transparent;
    border: solid 1px;
    border-radius: 5px;
    color: #fff;
    font-weight: bolder;
}

.nav--btn--login:hover{
    background: #fff;
    color: #eb2227;
    cursor: pointer;
}

.banner img{
    margin: 0px;
    height: 450px;
    width: 100%;
    border-radius: 8px;
    padding-bottom: 0px;
}

.our--benefits{
    background: #eb2227;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    padding-right: 10px;
    height: 40px;
    margin: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    color: #fff;
    padding-top: 0;
    cursor: pointer;
}

.cards--container{
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3); 
    margin-top: 15px;
    margin-right: 20px;
    width: 300px;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.benefits{
    margin-top: 40px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card--icon{
   height: 60px; 
}

.how--it--Works{
    background: #eb2227;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0px;
    color: #fff;
    cursor: pointer;
    margin-top: 50px;
}

.howItWorsCards{
    display: flex;
    justify-content: center;
}

.arrow {
    height: 50px;
    margin-right: 20px;
    position: relative;
    top: 100px;
}

.main--footer{
    background: #f3b406;
    color: #fff;
    margin-top: 40px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.footer1{
    padding-top: 25px;
    display: flex;
}

.footer2{
    /* margin: 0 90px; */
    /* margin-left: 50px;
    margin-right: 150px;
    margin-top: 25px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between; */
    color: #eb2227;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 20px;
    margin-top: 25px;
}

.footer1--menu{
    margin: 0 100px;
    margin-right: 200px;
}

.footer1--menu h3{
    color: #eb2227;
}

.footer1--menu ul li{
    list-style: none;
}

.footer1--menu ul li:hover{
    background: #fff;
    color: #eb2227;
    cursor: pointer;
    border-radius: 8px;
}

.footer1--contacts ul li{
    list-style: none;
}

.footer1--contacts{
    margin-left: 300px;
}

.footer1--contacts h3{
    color: #eb2227;
}

.aboutUs--container{
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.img--aboutUS{
    height: 500px;
    width: 380px;
    margin-left: 10px;
}

.aboutUs--text{
    margin: 0 40px;
    padding: 0 10px;
    font-size:medium;
}

.aboutUs--text p{
    margin: 20px;
}

.aboutUs--li--numbers{
    margin-right: 10px;
    border: solid 3px #eb2227;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    padding: 5px;
    color:#eb2227;
}

.aboutUs--text--header{
    font-weight:350;
    font-size: larger;
    list-style-type:none;
}

.customer--support--cards{
    display: flex;
    margin: 20px;
}

.customer--support--cards--paragraph{
    margin: 10px 80px;
}

.card--icon--customerSupport--Img{
    height: 250px;
    width: 180px;
    border: none;
}

.customer--supportcards--container{
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3); 
    margin-top: 15px;
    margin-right: 10px;
    width: 300px;
    height: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background: rgb(243, 243, 239);
}

.contactUs--container{
    height: 70vh;
    margin: 0px 20px;
}

.Contact--us--register{
    text-transform: uppercase;
    font-weight: 550;
    font-size: 27px;
    margin-top: 30px;
}

.signup--contactUs{
    margin-left: 150px;
    margin-top: 30px;
}

.contactUs--grid--container{
    display: grid;
    grid-template-columns: 3fr 2fr;
    margin: 0px 20px;
}

.contactUs--container--text p, ul{
    padding-left: 35px;
    margin: 10px 0;
}

.contactUs--container--text ul{
    padding-left: 70px;
    margin-bottom: 30px;
}


.contactUs--students--celebrating{
    height: 350px;
    border: none;
}

.login--container{
    width: 300px;
    margin:auto;
    margin-top: 60px;
    margin-bottom: 60px;
}

.login--container h1{
    color: #f3b406;
    margin-left: 75px;
    margin-bottom: 25px;
}

.login--form--username, .login--form--password, .login--form--btn{
    margin-bottom: 25px;
    border-radius: 10px;
    padding: 5px;
    width: 270px;
}

.login--form--btn{
    width: 200px;
    margin-left: 35px;
    background: #f3b406;
    color: #fff;
    border: solid 2px #f3b406;
    font-size: larger;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3); 
}

.login--form--btn:hover{
    background: #fff;
    color: #f3b406;
    border: solid 2px #f3b406;
}

.go--to--signup{
    margin-left: 45px;
}

.go--to--signup--link{
    text-decoration: none;
    color: #eb2227;
    margin-left: 55px;
    font-size: larger;
    font-weight: 700;
}